<html>

  {# TODO: check if there are devices that will work with the two types of forms? #}
<body>

{% if formpush %}
<h3>Push auth</h3>
<form action="{% url 'run_multi_factor' %}" method="post" name="form_push_auth">
    {% csrf_token %}
    <div class="form-row"> {{ formpush.otp_device.errors }}{{ formpush.otp_device.label_tag }}{{ formpush.otp_device }} </div>
    <div class="submit-row">
			<input type="submit" value="Send push" name='otp_challenge' />
    </div>
</form>

{% endif %}


{% if formtoken %}
<h3>Token auth</h3>
<form action="{% url 'run_multi_factor' %}" method="post" name="form_token_auth">
    {% csrf_token %}
    <div class="form-row"> {{ formtoken.otp_device.errors }}{{ formtoken.otp_device.label_tag }}{{ formtoken.otp_device }} </div>
    <div class="form-row"> {{ formtoken.otp_token.errors }}{{ formtoken.otp_token.label_tag }}{{ formtoken.otp_token }} </div>
    <div class="submit-row">
			<input type="submit" value="Validate code" />
    </div>
</form>
{% endif %}

{% if not formpush and not formtoken %}
<p>No multi factor options enabled. You have been logged in, but please <a href="/contact/">Contact us</a> for assistance</p>
{% endif %}

</body>

</html>

